
<div class="overlay">
	<div class="overlay-content">
		<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate">
			my project: https://github.com/Dellybro/RailsStarter.git
		</div>
	</div>
</div>