<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="<%= user_logout_path %>">Logout</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="teal"><h3 style="margin:0; padding:20px 20px; ">Site Nav</h3></li>
      <li><a href="#">Home</a></li>
      <li><a href="<%= user_logout_path %>">Logout</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>